hr{
    height:2px;
    background-color:rgb(56, 141, 56);
}

body {
    background-color: rgb(56, 141, 56, 0.8);
    background-image: url("white-paper-texture-2.jpg");
    margin: 100px auto;
    max-width: 1000px;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

#me {
    border: solid 1px rgb(56, 141, 56);
}