hr{
    height:2px;
    border-width:0;
    background-color:rgb(56, 141, 56)
}

body {
    background-color: azure;
}

fieldset{
    margin: auto;
    max-width: 50%;
    border: 3px solid rgb(56, 141, 56);
    padding: 10px;
}

#me {
    border: solid rgb(56, 141, 56);
}